@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ok-50: theme(colors.teal.50);
    --ok-200: theme(colors.teal.200);
    --ok-500: theme(colors.teal.500);
    --ok-900: theme(colors.teal.900);
    --warning-50: theme(colors.amber.50);
    --warning-200: theme(colors.amber.200);
    --warning-500: theme(colors.amber.500);
    --warning-900: theme(colors.amber.900);
    --attention-50: theme(colors.rose.50);
    --attention-200: theme(colors.rose.200);
    --attention-500: theme(colors.rose.500);
    --attention-900: theme(colors.rose.900);
  }
}
